/* @font-face {
    font-family: ubuntu-regular;
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
} */
body{
    background-color: rgb(238,245,255);
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.body-content-container{
    flex-basis: 70%;
    height: 80%;
    /* border: 1px solid black; */
    /* box-shadow: ; */
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-content-elements{
    height: 95%;
}
.sidebar{
    flex-basis: 27.5%;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    border-radius: 10px;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    /* object-fit: cover; */
    background-size: 100% 100%;
}
.sidebar div{
    /* border: 1px solid black;     */
}
.sidebar-contents{
    margin-top: 20px;
    flex-basis: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    /* border: 1px solid white;  */
}
.sidebar-elements{
    flex-basis: 100%;
    height: 24%;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    column-gap: 20px;
    color: white;
    text-transform: uppercase;
}
.sidebar-index{
    flex-basis: 14%;
    height: 45%;
    border: 1px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    box-sizing: border-box;
    border-radius: 50%;
}
.sidebar-index-text{
    flex-basis: 50%;
    height: 50%;
}
.sidebar-steps{
    /* border: 1px solid black; */
    flex-basis: 60%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
}
.sidebar-steps div{
    flex-basis: 100%;
    height: 40%;
    /* border: 1px solid black; */
}
.first-index{
    background-color: #BEE1FC;
    color: black;
}
.sidebar-steps-one{
    font-size: 13px;
    color: #7C7EFA;
}
.sidebar-steps-two{
    font-weight: bold;
}
.content{
    flex-basis: 70%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
.content-elements{
    /* border: 1px solid black; */
    flex-basis: 70%;
    height: 95%;
    display: flex;
} 
.content-steps{
    flex-basis: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    /* align-content: start; */
}
.content-first div{
    /* border: 1px solid black; */
}
.content-headers{
    flex-basis: 100%;
    height: 12%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
}
.content-headers div{
    /* border: 1px solid black; */
}
.content-headers-first{
    flex-basis: 100%;
    height: 50%;
    font-size: 32px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
}
.content-headers-second{
    flex-basis: 100%;
    height: 30%;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
    font-size: 18px;
}
.personal_details{
    flex-basis: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    row-gap: 40px;
    /* border: 1px solid black; */
}
.personal_details div{
    /* border: 1px solid black; */
}
.content-contents{
    flex-basis: 100%;
    height: 17%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* align-content: ; */
}
.content-contents div{
    /* border: 1px solid black; */
}
.content-contents-first{
    /* font-size: px; */
    flex-basis: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.content-contents-first-first{
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    flex-basis: 30%;
    height: 100%;
}
.content-contents-first-second{
    /* flex-basis: 30%; */
    height: 100%;
    /* text-align: center; */
    color: red;
    display: none;
}
.content-contents-second{
    flex-basis: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid rgb(221, 219, 219); */
}
.inputs{
    flex-basis: 100%;
    height: 100%;
    padding-left: 20px;
    /* border-color: rgb(221, 219, 219); */
    border: 1px solid rgb(221, 219, 219);
    border-radius: 10px;
    /* border: none; */
    outline: none;
    font-size: 18px;
}
.inputs:focus{
    border: 1px solid hsl(243, 100%, 62%);
}
.content-second, .content-third, .content-fourth, .content-fifth{
    display: none;
}
.content-buttons{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 18%;
    /* border: 1px solid black; */
}
.content-buttons div{
    /* border: 1px solid black; */
}
.content-buttons-first{
    flex-basis: 20%;
    height: 20%;
    font-size: 20px;
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}
.content-buttons-second{
    flex-basis: 20%;
    height: 35%;
    background-color: #03295A;
    color: hsl(229, 24%, 87%);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-left: 35px; */
    /* margin: auto; */
    /* padding-left: 30px;
    padding-top: 15px; */
    /* box-sizing: border-box; */
}
.content-buttons-second, .content-buttons-first:hover{
    cursor: pointer;
}
.next-step-first-container{
    /* border: 1px solid black; */
    height: 25%;
    flex-basis: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.content-steps div{
    /* border: 1px solid black; */
}
.content-second-contents{
    flex-basis: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.content-second-contents div{
    /* border: 1px solid black; */
}
.content-second-contents-options{
    flex-basis: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.content-second-contents-options-elements{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid rgb(221, 219, 219);
    justify-content: center;
    align-content: center;
}
.content-second-contents-options-elements:hover{    
    cursor: pointer;
    border: 1px solid hsl(243, 100%, 62%);
}
.content-second-contents-options-elements div{
    /* border: 1px solid black; */
}
.options-img{
    flex-basis: 80%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    /* object-fit: contain; */
}
.options-img img{
    /* border: 1px solid black; */
    /* size: 200% 200%; */
    height: 50%;
    flex-basis: 33%;
    size: 100% 100%;
}
.options-header{
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    font-size: 20px;
    flex-basis: 80%;
    height: 15%;
}
.options-month-rate{
    flex-basis: 80%;
    font-size: 18px;
    height: 12%;
    color: hsl(231, 11%, 63%);
    display: flex;
}
.options-year-rate{
    flex-basis: 80%;
    font-size: 18px;
    height: 12%;
    color: hsl(231, 11%, 63%);
    display: none;
}
.options-year-offer{
    flex-basis: 80%;
    font-size: 16px;
    height: 12%;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    display: none;
}
.content-second-contents-time{
    background-color: rgb(238,245,255);
    flex-basis: 100%;
    height: 17%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan_message_container{
    flex-basis: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.plan_message{
    /* flex-basis: 45%; */
    height: 70%;
    text-align: center;
    font-size: 25px;
    color: red;
    /* border: 1px solid black; */
    display: none;
}
.content-second-contents-time div{
    /* border: 1px solid black; */
}
.monthly, .yearly{
    flex-basis: 20%;
    height: 42%;
    font-size: 20px;
    text-align: center;
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}
.monthly{
    color: hsl(213, 96%, 18%);
}
.toggle{
    flex-basis: 7%;
    height: 42%;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    flex-basis: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }
  .switch div{
    /* border: 1px solid black; */
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #03295A;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    top: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #03295A;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px); */
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.third-contents{
    height: 15%;
    border: 1px solid rgb(221, 219, 219);
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid black; */
}
.third-contents:hover{
    cursor: pointer;
    border: 1px solid hsl(243, 100%, 62%);
}
.third-contents div{
    /* border: 1px solid black; */
}
.content-contents-container{
    flex-basis: 95%;
    height: 60%;
    /* border: 1px solid black; */
    display: flex;
}
.content-contents-container div{
    /* border: 1px solid black; */
}
.content-contents-first-check{
    flex-basis: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addons-checkbox{
    flex-basis: 35%;
    height: 35%;
}
.content-contents-first-text{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    flex-basis: 70%;
}
.content-contents-first-text-first{
    flex-basis: 90%;
    height: 60%;
    font-size: 19px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
}
.content-contents-first-text-second{
    flex-basis: 90%;
    height: 35%;
    color: hsl(231, 11%, 63%);
    font-size: 17px;
}
.content-contents-first-price{
    flex-basis: 20%;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}
.price-container{
    /* flex-basis: 60%; */
    height: 30%;
    display: flex;
    /* border: 1px solid black; */
}
.price-monthly{
    flex-basis: 100%;
    height: 100%;
    color: hsl(243, 100%, 62%);
    /* font-size: 20px; */
    text-align: center;
    display: flex;
}
.price-yearly{
    flex-basis: 100%;
    height: 100%;
    /* font-size: 20px; */
    text-align: center;
    display: none;
}
.content-fourth-contents{
    flex-basis: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
}
.content-fourth-contents div{
    /* border:1px solid black; */
}
.content-fourth-contents-items-container{
    background-color: rgb(238,245,255);
    flex-basis: 100%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.final-plan-container{
    flex-basis: 90%;
    height: 40%;
    display: flex;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    border-bottom: 1px solid hsl(229, 24%, 87%);
    /* border: 1px solid black; */
    /* align-items: center; */
    justify-content: space-between;
}
.final-plan-container div{
    /* border: 1px solid black; */
}
.final-plan{
    flex-basis: 50%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.final-plan div{
    flex-basis: 100%;
    height: 40%;
    /* border: 1px solid black; */
}
.final-plan-header-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
}
.final-plan-header-container div{
    /* border: 1px solid black; */
    flex-basis: 30%;
    height: 90%;
    font-size: 19px;
    /* text-align: center; */
}
.final-plan-option{
    font-size: 16px;
    text-decoration: underline;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}
.final-plan-option:hover{
    cursor: pointer;
}
.final-plan-rate-container{
    flex-basis: 35%;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.final-plan-rate{
    /* flex-basis: 28%; */
    height: 50%;
    font-size: 18px;
}
.final-plan-addons-container{
    flex-basis: 90%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.plan_addon_container{
    flex-basis: 100%;
    height: 30%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    display: flex;
}
.plan_addon_container div{
    /* border: 1px solid black; */
}
.plan_addon_name{
    flex-basis: 30%;
    height: 100%;
    color: hsl(231, 11%, 63%);
}
.plan_addon_rate_container{
    flex-basis: 15%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}
.content-fourth-contents-total{
    flex-basis: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.content-fourth-contents-total div{
    /* border: 1px solid black; */
}

.total{
    flex-basis: 50%;
    height: 90%;
    font-size: 17px;
    display: flex;
    color: hsl(231, 11%, 63%);
    /* font-weight: 700; */
    /* border: 1px solid black; */
    /* text-align: end; */
}   
.total-price-container{
    flex-basis: 30%;
    height: 90%;
    font-size: 25px;
    color:hsl(243, 100%, 62%);
    font-weight: 700;
    display: flex;
    justify-content: end;
    align-items: center;
}
.total-price{
    flex-basis: 60%;
    height: 90%;
    text-align: end;
}
.next-step-fourth{
    background-color: hsl(243, 100%, 62%);
    color: hsl(229, 24%, 87%);
}
.content-fifth{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-fifth div{
    /* border: 1px solid black; */
}
.content-fifth-container{
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 50%;
    display: flex;
}
.content-fifth-container div{
   flex-basis: 100%;
}
.content-fifth-img-container{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-fifth-header{
    height: 15%;
    font-size: 40px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    text-align: center;
}
.content-fifth-text{
    height: 30%;
    text-align: center;
    font-size: 22px;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}